.error {
  font-size: 15px;
  color: red; 
  font-weight: bold;
} 

input:invalid {
  border: 2px dashed rgb(253, 251, 251);
}

input:valid {
  border: 2px solid black;
}

input:required {
    background-color: rgb(255, 253, 253);
}


input:checked {
    color: black;
}

input:read-only {
    background-color: rgb(29, 4, 250);
}


form {
  background-color: rgba(147, 180, 70, 0.568);
  max-width: 580px;
  margin: 70px auto;
  padding: 16px;
  border: 0.3px solid #eaeaea;
  border-radius: 5%;
  
  
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
label{
  text-align: center;
  font-size: 19px;
  font-family: 'Lobster', cursive;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
#message1 {
    background-color:gray;
    height: 75px;
    padding: 15px 5px;
    text-align: center;
}

#img{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}
body {
    height: 100vh;
  }
  p {

    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-decoration: blue;
}
ul {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color:black;
}
h2{
    text-align: center;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: black;
}


@media screen and (max-width:740px) and (min-width:340px){
    body{
      background-color: rgb(231, 223, 231);
      background-image: url("image/54e1c51cecfb1bbcb3d07f4978112828.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position:center;
      background-attachment: fixed;

      margin: 25px 6%;
    }
   
}
/*break two*/

@media screen and (max-width:1039px) and (min-width:741px) {
  body{
    background-color: rgb(207, 228, 218);
    background-image: url("image/Document.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    margin: 25px 8%;
  }
  
}
/*break three*/
@media screen and (max-width:1800px) and (min-width:1040px) {
  body{
    background-color: rgb(215, 218, 221);
    background-image: url("image/home_dog.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    margin: 50px 10%;
   

    
  }
  
  
}